#carousel {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 100vh;
  overflow: hidden;
}


.slides {
  display: flex;
  width: 200%;
  animation: scroll-carousel 70s linear infinite;
}

.slides img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes scroll-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

.carousel-text h1 {
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 2px 2px 8px rgb(254, 254, 254);
}

.carousel-text .btn {
  background-color: #0e90f4;
  color: white;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
}
